<a routerLink="/" class="btn btn-primary">Retour</a>
<form [formGroup]="form">
  <h1>Ajouter un cours : </h1>
  <mat-form-field appearance="outline" >
    <mat-label>Nom</mat-label>
    <input matInput type="text" formControlName="nom">
    @if (form.get('nom')?.hasError('required')) {
      <mat-error>Nom is required</mat-error>
    }
  </mat-form-field>
  <mat-form-field appearance="outline" >
    <mat-label>Description</mat-label>
    <input matInput type="text" formControlName="description">
    @if (form.get('description')?.hasError('required')) {
      <mat-error>Description is required</mat-error>
    }
  </mat-form-field>
  <router-outlet></router-outlet>
  <button mat-stroked-button (click)="submit()" [disabled]="form.invalid">Valider</button>
</form>
