<!--mat-toolbar : pour créer une barre en haut de notre page web.-->
<!--<mat-toolbar>-->
<!--&lt;!&ndash;  <div class="header">&ndash;&gt;-->
<header>
  <img src="/93moove.png" alt="93Moove Logo" class="logo" width="1302" height="260"/>
</header>
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--</mat-toolbar>-->
<!--mat-sidenav : pour créer un menu à gauche.-->
<mat-sidenav-container>
<!--  <img src="/93moove.png" alt="93Moove Logo" class="logo" width="800" height="260"/>-->
  <mat-sidenav [opened]="true" mode="side">
    <mat-nav-list>
      <mat-list-item>
        <a routerLink="/">
          <mat-icon>home</mat-icon>
          <span>Accueil</span>
        </a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/login">
          <div [hidden]="authenticated()">
            <!--mat-icon : crée les petites images du menu.-->
          <mat-icon>login</mat-icon>
          <span>Login</span>
          </div>
        </a>
        <div [hidden]="!authenticated()">
          <button mat-button (click)="logout()">
            Se déconnecter
          </button>
        </div>
      </mat-list-item>

      <mat-list-item>
        <div [hidden]="!authenticated()">
        <a routerLink="/profil">
<!--          <mat-icon>Profil</mat-icon>-->
          <span>Mon Profil</span>
        </a>
        </div>
      </mat-list-item>
<!--      <mat-list-item>-->
<!--        <a routerLink="/association">-->
<!--          <mat-icon>information</mat-icon>-->
<!--          <span>A propos de l'association</span>-->
<!--        </a>-->
<!--      </mat-list-item>-->



      <!--
      <div [hidden]="!authenticated()">
      <mat-list-item>
        <a routerLink="/inscriptions">
          <mat-icon>MesInscriptions</mat-icon>
          <span>Mes Inscriptions</span>
        </a>
      </mat-list-item>
      </div>
      -->
    </mat-nav-list>
  </mat-sidenav>
    <router-outlet></router-outlet>
</mat-sidenav-container>
<footer>
  <p>BTS SIO - Lycée Auguste Blanqui</p>
</footer>
